
header {
    margin-bottom: 4rem;
}

h1 {
    color: #393939;
    font-family:'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 4rem;
    padding: 2rem;
}

h2 {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 2rem;
}

h3 {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    margin-left: 1rem;
    padding: 1rem;

}

p {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    padding: 1rem 2rem;
    
}

footer {
    background-color: #f1f1f1;
    padding: 2rem 0rem;
}

img {
    margin-bottom: 3rem;
    padding: 0rem 2rem;
}

a {
    color:#393939;
    font-family: "Poppins", sans-serif;
    margin-left: 2rem;
    text-decoration: none;
}

a:hover {
    color: #adadad;
    text-decoration: underline;
}

.fall h2 {
    color: #BE5827;
    line-height: 1rem;
    margin-top: 5rem;
}

.fall h2:after {
    background: #BE5827;
    content: "";
    display: flex;
    height: 1px;
    margin-right: 2rem;
    position: absolute;
    right: 0;
    width: 230px;

}

.spring h2 {
    color:#2792B9;
    line-height: 1rem;
    margin-top: 5rem;
}
.spring h2:after {
    background: #2792B9;
    content: "";
    display: flex;
    height: 1px;
    margin-right: 2rem;
    position: absolute;
    right: 0;
    width: 190px;
}

.tech-one {
    margin-bottom: 5rem;
}

.viscom {
    margin-bottom: 5rem;
}

.tech-two {
    margin-bottom: 7rem;
}

.copic-head h3 {
    color:#BE5827;
}

.process {
    display: grid;
}

.final {
    margin-bottom: 3rem;
}
