body{
    background-color: #fcfcfc;
    background-size: 200%;
    font-family: 'Poppins', sans-serif;
}


h1 {
    color: #4A322F;
    font-size: 32px;
    font-weight: 500;
    margin-top: 1.5rem;
}

h2 {
    color:#4A322F;
    font-size:32px;
    font-weight: 500;
    margin-top: 3rem;
}

p {
    color:#4A322F;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
}

header {
    background-image: url(../img/header2.jpg);
    background-position: left 5%;
    background-size: 220%;
    padding: 3rem;
}

header h2 {
    margin-bottom: 1rem;
    margin-top: 20rem;
}

header p {
    margin-bottom: 2rem;
}

img {
    display: flex;
    max-width: 100%
}

.fa-bars {
    color:#4A322F;
    float: right;
    font-size: 24px;
    margin-top: -2.3rem;
}

.menu-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    padding: 2rem;
}

.menu {
    padding: 1rem;
}

tr.milk td:first-child{
    padding-left: 20px;
}

table {
    color:#4A322F;
    font-size: 20px;
    table-layout: auto;
    width: 100%;
}

td {
    font-weight: 300;
    padding-right: 2rem;
}

th {
    font-weight: 500;
    padding: 2rem 0;
    text-align: left;
}

.two-column h2 {
    margin-bottom: 3rem;
}

.location {
    padding: 3rem;
    color: #4A322F;
}

footer {
    background-color: #dcdcdc;
    padding: 1rem;
}

footer h3 {
    color: #606060;
}

footer p {
    color: #606060;
}

.contact {
    margin-bottom: 3rem;
    margin-top: 4rem;
}

@media screen and (min-width: 768px) {
    header {
        background-position: left 5%;
        background-repeat: no-repeat;
        background-size: 130%
    }
    .menu-container {
        grid-template-columns: 1fr 1fr;
    }

    .menu {
        padding: 2rem;
    }

    .two-column {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1280px) {
    header {
        background-position: left 70%;
        background-size: 100%;
    }
    .menu-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu {
        padding: 2rem;
    }
}
